[all:vars]
ansible_host_key_checking = False
ansible_become=yes

ansible_connection=ansible.netcommon.network_cli
ansible_network_os=mwallraf.ekinops.oneos

ansible_user=<username>
ansible_password=<password>

[lbb:children]
lbb154
lbb140

[lbb:vars]


[lbb154]

[lbb154:vars]
wanted_os_version=OneOS-pCPE-ARM_pi1-6.8.4
wanted_os_file=OneOS-pCPE-ARM_pi1-6.8.4.ZZZ
wanted_boot_version=BOOT-ARM_hw1-3.1.7
wanted_boot_file=BOOT-ARM_hw1-3.1.7.ROM
wanted_recovery_version=OneOs-RCY-ARM_pi1-1.3.20
wanted_recovery_file=OneOs-RCY-ARM_pi1-1.3.20.ROM
software_path=/software/LBB15x


[lbb140]

[lbb140:vars]
wanted_os_version=ONEOS16-MONO_FT-V5.2R2E7_HA1
wanted_os_file=ONEOS16-MONO_FT-V5.2R2E7_HA1.ZZZ
software_path=/software/LBB140

